.navbar
{
    background: #ffffff !important;
}


.navbar .navbar-opaque
{
    background: #fff !important;
}

.navbar .nav-item .nav-link
{
    color: blue;
    font-family: Lato,Arial,Helvetica Neue,sans-serif;
    line-height: 1.5rem;
    min-height: 48px;

}

.navbar .nav-item .btn {
    background-color: blue;
    border-color: blue;
}