body {
    /*background-color: lightblue;*/
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }
  
  .btn btn-primary btn-block {
    width : 326px;
  }

  .Login {
    width : 400px;
    /*padding-left: 0px;*/
    margin-left: 500px;
    padding: 30px;
    background: white;
  }
  .LoginPage{
   width : 400px;
    margin-top: 80px;
    padding-top: 130px;
  }
  .Fullpage {
     background-image: url("../../images/Background.jpg");
     height: 650px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

  .logodiv{
    border-bottom: 1px solid rgb(185, 185, 185);
}

.loginlogo{
  margin: 15px 20px;
  padding: 0 20px;
  height: 80px;
  width: 280px;
}

.loginheader{
  margin: 0;
  text-align: center;
  background-color: white;
  padding:13px 0 0 0;
  color:rgb(122, 122, 122);
}

.loginheadersub{
  padding:0 0 20px 0;
  border-bottom: 2px solid rgb(200, 200, 200);
}